.btn-md {
  height: 45px;
}

.btn-pad-60 {
  padding: 8px 60px !important;
}

.btn.btn-lg {
  padding: 10px 30px;
}

.menu-toggle a {
  color: #fff;
  font-size: 24px;
}

.login-layout .box-none {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login-layout .layout-login-centered-boxed__form {
  margin-left: auto;
  margin-right: auto;
}

.login-layout .login-logo {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 40px;
}

.form-group .form-control {
  height: 50px;
  font-size: 16px;
}

.form-group .is-invalid {
  background-position: center right !important;
}

.form-client-view .form-control {
  height: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-client-view .select2-selection__arrow {
  display: block;
}

.form-client-view .select2-selection__arrow {
  padding-right: 30px !important;
}

.form-client-view .select2-selection__arrow:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.form-client-view .form-control::-webkit-file-upload-button {
  display: none !important;
}

.sales-view {
  min-height: calc(100vh - 150px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-submit {
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important;
}

.table-clinet thead th {
  padding: 15px 15px !important;
  border: 1px solid #efefef !important;
  text-align: center;
}

.table-clinet tbody td {
  border: 1px solid #efefef !important;
  border-top: 0px solid #efefef !important;
  border-bottom: 0px solid #efefef !important;
  text-align: center;
}

.table-clinet tbody tr:last-child td {
  border-bottom: 1px solid #efefef !important;
}

/*  */
.table-view-sales thead th {
  padding: 15px 15px !important;
  border: 1px solid #efefef !important;
  text-align: center;
}

.table-view-sales tbody td {
  border: 1px solid #efefef !important;
  border-top: 0px solid #efefef !important;
  border-bottom: 1px solid #efefef !important;
  text-align: center;
}

.table-view-sales tbody tr:last-child td {
  border-bottom: 1px solid #efefef !important;
}

.text-link {
  color: #4a4a4a !important;
}

.modal-btn {
  position: absolute;
  right: -40px;
  top: 50px;
}

.btn.btn-round {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 28px;
  background-color: #fc934c;
  color: #aa541a;
  border: 3px solid #ed7524;
  position: relative;
}

.btn.btn-round::after {
  content: '';
  height: 46px;
  width: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -6px;
  top: -6px;
  background-color: #fcd249;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

.btn.btn-round:hover {
  background-color: #fc934c !important;
  color: #aa541a !important;
  border: 3px solid #ed7524 !important;
}

.moda-custom .modal-dialog {
  max-width: 700px !important;
}

.moda-custom .modal-dialog .pad-0 {
  padding: 0;
}

@media (max-width: 767px) {
  .btn.btn-lg {
    width: 100%;
    margin-bottom: 15px;
  }
  .div-complete.text-right {
    text-align: center !important;
  }
  .div-complete.text-right .btn-lg {
    width: auto;
  }
}
/*# sourceMappingURL=custom.css.map */